<%/*=======================================
Author : Alex Zarzitski
Date : 11/01/2018
=======================================*/%>
<% var title = 'Acceuil' %>
<% include head %>
<% include header %>

<section class="w3-card-4 w3-margin">
	<h2>Acceuil</h2>
</section>

<% include foot %>
