<%/*=======================================
Author : Alex Zarzitski
Date : 11/01/2018
=======================================*/%>
<% var title = 'Acceuil' %>
<% include head %>
<% include header %>

<section>
  <% if(categories != null){ %>
		<% categories.forEach(function(categorie){ %>
	  <aside class="w3-card-4 w3-margin">
	    <div class="w3-container w3-brown">
	      <h2 class="w3-lobster"><%= categorie.nom %></h2>
	    </div>


	  </aside>
		<% }); %>
  <% } %>
</section>

<% include foot %>
