<%/*=======================================
Author : Camélia Benhmida Zarzitski
Date : 14/01/2018
Fichier : vue Gestion des catégories
=======================================*/%>

<% var title = 'manageCategories' %>
<% include head %>
<% include header %>

<div class="w3-card-4 w3-margin">
  <div class="w3-container w3-brown">
    <h2 class="w3-lobster">Gestion des Catégories</h2>
  </div>
  		<% if(categories != null){ %>
        <ul>
            <% categories.forEach(function(categorie){ %>
            <form class="w3-container" method="post" action="">
                  <li><input type="text" name="nameCategorie" value="categorie.nom">
                  <input type="hidden" name="idCategorie" value="categorie.id">
                  <input type="submit" name="update" value="update">
                  <input type="submit" name="delete" value="delete">
                  </li>
            </form>
          <% }); %>
        </ul>
      <% } %>
        <form class="w3-container" method="post" action="">
          <input type="text" name="nameCategorie" placeholder="nom de la nouvelle catégorie" value="">
          <button class="w3-button w3-circle w3-teal" type="submit" value="add" name="add">+</button>
        </form>
</div>
