<%/*=======================================
Author : Camélia Benhmida Zarzitski
Date : 14/01/2018
Fichier : vue Gestion des catégories
=======================================*/%>

<% var title = 'manageProducts' %>
<% include head %>
<% include header %>

<div class="w3-container w3-brown">
  <h2 class="w3-lobster">Gestion des Produits</h2>
</div>
<div class="w3-card-4 w3-margin">
      <% if(categories == null){ %> <h3>Pas de catégorie trouvée !</h3> <% } %>
  		<% if(categories != null){ %>
        <% categories.forEach(function(categorie){ %>
        <h3><%= categorie.nom %></h3>

          <% }) %>


      <% });
    } %>
</div>
