<%/*=======================================
Author : Alex Zarzitski
Date : 11/01/2018
=======================================*/%>

<nav class="w3-row w3-grey w3-lobster w3-topbar">
  <div class="w3-third w3-container w3-center">
	<a href="/category-management" class="w3-btn w3-grey w3-block">Gestion des Catégories</a>
  </div>
  <div class="w3-third w3-container w3-center">
	<a href="/product-management" class="w3-btn w3-grey w3-block">Gestion des Produits</a>
  </div>
  <div class="w3-third w3-container w3-center">
	<a href="/profile-management" class="w3-btn w3-grey w3-block">Gestion des Profils</a>
  </div>
</nav>

