<%/*=======================================
Author : Alex Zarzitski
Date : 11/01/2018
=======================================*/%>

<nav class="w3-row w3-brown w3-lobster w3-topbar">
  <div class="w3-quarter w3-container w3-center">
	<a href="/home" class="w3-btn w3-brown w3-block">Acceuil</a>
  </div>
  <div class="w3-quarter w3-container w3-center">
	<a href="/my-account" class="w3-btn w3-brown w3-block">Gestion de compte</a>
  </div>
  <div class="w3-quarter w3-container w3-center">
	<form class="w3-container" method="post">
		<a href="/disconnection" class="w3-btn w3-brown w3-block">Déconexion - <i><%= user.nom %> <%= user.prenom %></i></a>
	</form>
  </div>
  <div class="w3-quarter w3-container w3-center">
	<a href="/cart" class="w3-btn w3-brown w3-block">Panier - <i>nb_Articles</i></a>
  </div>
</nav>
