<%/*=======================================
Author : Alex Zarzitski
Date : 13/01/2018
=======================================*/%>

<nav class="w3-row w3-brown w3-lobster w3-topbar">
  <div class="w3-half w3-container w3-center">
	<a href="/home" class="w3-btn w3-brown w3-block">Acceuil</a>
  </div>
  <div class="w3-half w3-container w3-center">
	<a href="/login" class="w3-btn w3-brown w3-block">Identification</a>
  </div>
</nav>
